/00_message/build

/01_helloworld/build

/02_libraries/shared/create/build
/02_libraries/shared/create/bin
/02_libraries/shared/call/build
/02_libraries/shared/call/include
/02_libraries/shared/call/lib
/02_libraries/shared/call/target

/02_libraries/static/create/build
/02_libraries/static/create/lib
/02_libraries/static/call/build
/02_libraries/static/call/lib
/02_libraries/static/call/target
/02_libraries/static/call/include

/02_libraries/interface/build

/02_libraries/exe_shared_static/exe/target
/02_libraries/exe_shared_static/exe/build
/02_libraries/exe_shared_static/exe/include
/02_libraries/exe_shared_static/exe/lib

/02_libraries/exe_shared_static/shared/build
/02_libraries/exe_shared_static/shared/include
/02_libraries/exe_shared_static/shared/static_lib
/02_libraries/exe_shared_static/shared/static_include

/02_libraries/exe_shared_static/static/build

/02_libraries/exe_static_shared/exe/lib
/02_libraries/exe_static_shared/exe/include
/02_libraries/exe_static_shared/exe/target
/02_libraries/exe_static_shared/exe/build

/02_libraries/exe_static_shared/shared/build

/02_libraries/exe_static_shared/static/build
/02_libraries/exe_static_shared/static/shared_bin
/02_libraries/exe_static_shared/static/shared_include
/02_libraries/exe_static_shared/static/shared_lib

/03_package/01_find_package/cmake/build
/03_package/02_3rdparty/build
/03_package/03_customPackage/createPackage/build
/03_package/03_customPackage/createPackage/install
/03_package/03_customPackage/usePackage/build

/04_command/01_add_custom_command/build
/04_command/01_add_custom_command/etc
/04_command/02_add_custom_target/build
/04_command/02_add_custom_target/etc

/05_file/build

/06_function/build

/07_list/build

/08_property/build

/09_vs_sln/build
/09_vs_sln/.vs
/09_vs_sln/out

/10_install/01_target/build
/10_install/01_target/install
/10_install/02_other/build
/10_install/02_other/target

/11_platform/build

/12_external/cpm/build
/12_external/ExternalProject/build
/12_external/ExternalProject/gtest_dir
/12_external/FetchContent/build
/12_external/FetchContent/spdlog_dir

/13_module/build

/14_multiTarget/build
/14_multiTarget/target
/14_multiTarget/target_custom

/15_traverse_target/build
/15_traverse_target/target_debug
/15_traverse_target/target_release
/15_traverse_target/install
