/00_message/build

/01_helloworld/build

/02_libraries/shared/build
/02_libraries/shared/bin
/02_libraries/static/build
/02_libraries/static/lib
/02_libraries/callShared/build
/02_libraries/callStatic/build

/03_package/build

/04_command/add_custom_command/build
/04_command/add_custom_command/etc
/04_command/add_custom_target/etc
/04_command/add_custom_target/build



/06_function/build

/07_list/build

/08_property/build

/09_vs_sln/build
/09_vs_sln/.vs
/09_vs_sln/out

/10_install/build
/10_install/target

/11_platform/build